
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weather Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <div class="contain">
      <fieldset>
        <form action="/" method="post"> <!-- submitting a post request to the home route -->
          <input name="zipcode" type="text"  class="ghost-input font-italic" placeholder="ENTER ZIP CODE" required>
          <input type="submit" class="ghost-button" value="Get Weather">
        </form>
        <% if( weather !== null){ %>
            <h1 class="text-center pt-5"><%= weather %></h1>
        <% } %>
        <% if(err !== null){ %>
            <p><%=err %></p>
        <% } %>
      </fieldset>
    </div>
    <div class="container-fluid border border-dark mb-5">
        <div class="row">
            <div class="col border border-dark">
                <h5 class="text-center pt-3">Conditions</h5>
                <div class="text-center">   
                    <img class="rounded mx-auto" height="75" width="75" <%= pic %>>
                    <h6 class="pb-4 font-italic"><%= ejsConditions %></h6>
                </div>
            </div>
            <div class="col border border-dark">
                <h5 class="text-center pt-3">Temperature</h5>
                <div class="mx-auto">
                    <p><%= ejstemperature %>F</p>
                </div>
             </div>
            <div class="col border border-dark">
                <h5 class="text-center pt-3">Wind Speed</h5>
                <div class="mx-auto">
                    <p><%= ejsWindSpeed %>mph</p>
                </div>
            </div>
            <div class="col border border-dark">
                <h5 class="text-center pt-3">Humidity</h5>
                <div class="mx-auto">
                    <p><%= ejsHumidity %>%</p>
                </div>
            </div>
        </div>
    </div>
      </div>
  </body>
</html>














